.calc {
  width: 200px;
  height: 300px;
  /* margin: 0 auto; */
  border: 1px solid red;
  border-radius: 5%;
  background-color: gray;
  text-align: center;
}
.calc input {
  border: 1px solid red;
  border-radius: 20%;
  background-color: black;
  color: white;
  text-align: center;
}
.arrow_elem {
  display: flex;
  justify-content: center;
}
.arrow_elem .prev_arrow {
  margin-right: 15px;
  font-size: 25px;
  font-weight: 700;
}
.arrow_elem .next_arrow {
  font-size: 25px;
  font-weight: 700;
}
.photo .elem {
  width: 150px;
  height: 80px;
}
.photo {
  margin-top: 10px;
}


